/* ========== COLORS =========== */
/* YELLOW : #ffd86f */
/* GREEN : #48d0b0; */
/* RED : #fb6c6c */
/* PURPLE : #6c79db */
/* BLUE : #76bdfe; */



.App {
  text-align: center;
  display: flex;  
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgba(44, 43, 43, 0.761);
  overflow: hidden;
}

.ability-container {
  display: inline-block;  
  background: white;
  width: 110px;
  margin: 2px 5px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  text-transform: capitalize;  
}

.arrow-back {
  position: absolute;
  left: 40px;
  top: 40px;
  background: blanchedalmond;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.button-form {
  margin-right: 40px;
  border-radius: 7px;
  border: 1px solid gray;
}


.btn-search {
  background-color: cadetblue;
  margin: 0 30px 0 5px;  
}

.btn-danger {
  margin: 0 20px;
}

.btn-login {
  width: 50%;
  background: rgb(24, 76, 188);
  transition: 0.1s;
}

.btn-login:hover {
  width: 50%;
  background: rgb(24, 76, 188);
  transform: scale(1.1);
  transition: 0.1s;
}

.card-body {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
}

.cards-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  margin: auto;
}

.card-container {
  background: #a69bca;
  margin: 1rem;
  margin-bottom: 50px;
  width: 250px;
  height: 230px;
  border-radius: 10px;
  color: rgb(26, 24, 24);
  text-decoration: none;
  transition: 0.2s;
}

.card-container:hover {
  margin: 1rem; 
  color: rgb(26, 24, 24);
  text-decoration: none;
  transform: scale(1.03);
  /* animation: shake .5s infinite; */
  /* animation-direction: alternate; */
  transition: 0.2s;
  box-shadow: -7px 7px 5px 0px rgba(13, 13, 13, 0.304);

}


.card-head {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.card-info {
  text-align: left;
  line-height: 6px;
  font-size: 1rem;  
}

.card-types {
  display: flex;
  flex-direction: column;  
}

.col-3 {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-width: 40vw;
  
}

.char-container {
  height: 100%; 
  overflow: hidden;
 
}

.config-btn {  
  position: fixed;
  right: 0px;
  top: 80px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 6px solid rgb(89, 85, 84);
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-6 {
  width: 50%;
}

.container-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  display: flex;
  /* background-color: red; */
  justify-content: center;
}



.form-container {
  margin-left: 20px;
    
}

.input {
  border-radius: 7px;
  padding: 5px;
  margin: 0 10px 0 0;
  outline: none;
  border: 1px solid gray;
  
}

.input-container {
  border: 1px solid rgba(219, 210, 210, 0.297);
  padding: 50px;
  background: rgb(225, 143, 143);
  box-shadow: -7px 7px 5px 0px rgba(13, 13, 13, 0.304);
  display: flex;
  flex-direction: column;  
  align-items: center;
  outline: none;
}

.input-login {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  outline: none;

}

.left-details-container {
  display: flex;
  justify-content: center;
}

.left-details-container>.d-flex {
  margin: 10px 10px;
}

.left-details-container>.d-flex span {
  font-size: 1rem;
}

.menu-container {
  height: 500px;
  width: 300px;
}

.moves-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;  
  min-height: 100%;
  background: rgba(0, 0, 0, 0.153); 
  overflow: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  background:  #fb6c6c;
  flex-wrap: nowrap;
}

.selected-page {
  background: #6d6685;
}

.pagination {
  display: flex;
}

.page-item {
  cursor: pointer;
}

.pokemon-card-image {
  width: 140px;
  height: 140px;  
}

.pokemon-card-image-container {  
  position: relative;
  right: 0;
  top: -50px; 
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;      
  
}

.pokemon-chars {  
  width:  600px;
  height: 90%;
  align-items: flex-start;
}

.pokemon-detail {
  flex-direction: row;
}

.pokemon-img {
  width: 200px;
  height: 200px;
  
}

.pokemon-title-1 {
  font-size: 3.2rem;
  
}

.pokemon-title-2 {  
  font-size: 1.4rem;   
  margin-top: -60px;
  color: rgb(26, 24, 24);
  text-decoration: underline;
}

.pokemon-nav {
  display: flex;    
  justify-content: center;
  align-items: center;
  width:  600px;  
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.pokemon-nav-li  {
  display: flex;    
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 10px 20px;  
  color: rgb(26, 24, 24);
  font-size: 1.3rem;  
  width: 100%;
  height: 100%;
}

.pokemon-nav-li:hover {
  transform: scale(0.9); 
  color: rgb(26, 24, 24); 
}
.pokedex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.pokedex-id {
  margin-top: 40px;
  font-size: 1.2rem;
}

.pokemon-logo {
  width: 300px;
  position: relative;
  top: 11rem;
  
}

.pokemon-logo-pokedex {
  width: 300px;
  margin: 20px 0 40px 0;
  
}

.select {
  border-radius: 7px;
  outline: none;
  border: 1px solid gray;
}

.select-numbers-pokemons {
  margin-left: 40px;
}


.type-container {
  display: inline-block;  
  background: white;
  width: 70px;
  margin: 5px 0;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  text-transform: capitalize;  
}

.move-container {
  display: inline-block;  
  background: white;
  width: 25%;
  margin: 5px 0;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  text-transform: capitalize; 
}

.loader {
  width: 70px;
  animation: rotation 2s infinite linear;  
}

.login-container {
  width: 300px;
  
}

.welcome {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.login-container {
  margin: auto;
}

.d-flex {
  display: flex;
}

